{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Nuevo Trabajo</span>
          {{ productor }}
          <form action="" method="post"> {% csrf_token %}
            <div class="input-field">
              {{ form.fecha }}
              <label for="id_fecha">Fecha</label>
            </div>
            <div class="input-field">
              {{ form.fecha_desde }}
              <label for="id_fecha_desde">Desde</label>
            </div>
            <div class="input-field">
              {{ form.fecha_hasta }}
              <label for="id_fecha_hasta">Hasta</label>
            </div>
            <div class="input-field">
              {{ form.job_status }}
              <label for="id_job_status">Estado</label>
            </div>
            <p>
            <label for="id_terminado">
              {{ form.terminado }}
              <span>Terminado</span>
            </label>
            </p>
            <input type="submit" class="btn" value="Crear" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script charset="utf-8">
  $('select').formSelect();
</script>
{% endblock %}
