<html>
<head>
{% if not ready %}
<meta http-equiv="refresh" content="5" >
{% endif %}
</head>

<body>
<h2>Status</h2>

{% if ok %}
<a href="/companias/get_file/{{id}}/">Descargar archivo</a>
{% else %}


{% if terminated %}
Hubo un error en la descarga n° {{id}}. Avisar a Diego.


{% else %}
Esperando descarga n° {{id}}...
{% endif %}


{% endif %}

<h2>Log</h2>
{% for linea in log %}
{{linea}}<br>
{%endfor%}
<verbatim>
</verbatim>
<br>
<a href="/companias/generate_download/">Verificar otra compa&ntilde;ia</a>
</body>
</html>
