<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
    <!-- Javascript main -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
  </head>
  <body class="indigo lighten-5">
    <div class="row search-prod row-mb0">
      <div class="col s12">
        <div class="row light-blue darken-2 row-mb0">
          <form action="/productores/search" method="GET">
            <div class="input-field col s6 offset-s3 white">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocomplete-input" class="autocomplete" name="q" autocomplete="off">
              <label for="autocomplete-input">Productor</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Main -->
    <main role="main">
    {% block content %}
    {% endblock %}
    </main>

    <!-- Sidebar -->
    <aside class="">
      <ul id="slide-out" class="sidenav sidenav-fixed sislis-aside">
        <li>
          <div class="user-view grey darken-3">
            <span class="right"><a href="{% url 'productor-home' %}"><i class="material-icons">home</i></a></span>
            <h5 class="white-text">Sistemas Lis</h5>
          </div>
        </li>
        <li><a class="waves-effect" href="/admin/"><i class="material-icons">settings</i>Administración</a></li>
        <li class="active"><a class="waves-effect" href="{% url 'productor-list' %}"><i class="material-icons">account_circle</i>Productores</a></li>
        <li><a class="waves-effect" href="{% url 'compania-home' %}"><i class="material-icons">account_balance</i>Companias</a></li>
        <li><a class="waves-effect" href="{% url 'provincia-list' %}"><i class="material-icons">local_parking</i>Provincias</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </aside>

    <!-- Extra JS -->
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        new ClipboardJS('.mycopy');
      $.ajax({
        type: 'GET',
        datatype: 'json',
        url: "{% url 'productor-search-to-json' %}",
        data: {'term': $('#autocomplete-input').val()},
        success: function (data){
          var datos = data;
          var datosList = {};
          for (var i=0; i<datos.length; i++){
            datosList[datos[i].label] = null;
          }
          $('input.autocomplete').autocomplete({
            data: datosList
          });
        }
      });
});
    </script>
          {% block extrajs %}
          {% endblock %}
  </body>
</html>
