body {
  margin-left: 1cm;
  margin-right: 1cm;
  font-size: 13px;
}
h4 {
  font-size: 15px;
}


td.observaciones {
  width:600px;
  font-size: 10px;
}
div.table-container {
  font-size:13px;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #BBBBBB;
}

hr {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    border-width: 4px;
    border-top: 1px solid #AAAAAA;
}
