{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading"><h4>Trabajos para Hoy ( {{user.username.upper}} ) </h4></div>
    <div class="panel-body">



      <div class="col-md-12">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Nombre</th>
                  <th></th>
                  <th>Proxima Tarea</th>
                </tr>
              </thead>
              <tbody>

                {% for trabajo in para_realizar %}
                <tr>
                    <td>
                      <h6 class="title">
                        <a href="#" data-toggle="popover" title="{{trabajo.fecha}}" data-placement="bottom" data-trigger="hover">{{ trabajo.fecha }}</a>
                        <div id="popover-content" style="display:none;">
                          <ul>
                              {% if trabajo.con_inspeccion %}
                              <li>Con inspección: <span class="glyphicon glyphicon-ok"></span> </li>
                              <li> {{trabajo.fecha_inspeccion_}} </li>
                              {% else %}
                              <li>Con inspección: <span class="glyphicon glyphicon-remove"></span> </li>
                              {% endif %}
                              {% if trabajo.productor.preferencial %}
                              <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                              {% else %}
                              <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                              {% endif %}
                              <li>Cobrado: {{trabajo.cobrado}} </li>
                              <li>Saldo: {{trabajo.saldo}}
                          </ul>
                        </div>
                      </h6>
                    </td>
                    <td>
                        <h6 class="title">
                            <a href="/admin/productores/productor/{{trabajo.productor.id}}/change/">{{ trabajo.productor }}</a>
                        </h6>
                        <!--<p class="summary"></p>-->
                    </td>
                    <td>
                      <h6 class="title">
                          <!--
                        {% if trabajo.productor.libros_digitales %}
                        <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                          -->
                      </h6>
                    </td>
                    <td>
                      <h6 class="title">
                        <a href="/trabajos/tarjeta/{{trabajo.id}}/"> {{trabajo.proxima_tarea}} </a>
                      </h6>
                    </td>
                {% endfor %}
              </tbody>
            </table>
      </div>


    </div>
    <div class="panel-footer">
      <a href="/trabajos/get_trabajo_sin_encargado">
        <button type="button" class="btn btn-primary">Obtener un nuevo trabajo</button>
      </a>
    </div>
  </div>
</div>

<!-- Trabajos en Espera-->
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h4>Trabajos en Espera ( {{user.username.upper}} )</h4></div>
    <div class="panel-body">


      <div class="col-md-12">
          <br>
          <table class="table table-striped">
            <thead class="thead">
              <tr>
                <th>Fecha de Solicitud</th>
                <th>Nombre del Productor</th>
                <th>Trabajo Digital</th>
                <th>Proxima Tarea</th>
                <th>Pasar a Pendiente</th>
              </tr>
            </thead>
            <tbody>
              {% for trabajo in en_espera %}
              <script>
              jQuery(document).ready(function($) {
                  $(".clickable-row").click(function() {
                      //window.location = window.open($(this).data("href"));
                  });
              });
              </script>
              <tr class='clickable-row' data-href='/admin/productores/productor/{{trabajo.productor.id}}/change/'>
                <td>
                      <h6 class="title">
                            <a href="#" data-toggle="popover" title="{{trabajo.fecha}}" data-placement="bottom" data-trigger="hover">{{ trabajo.fecha }}</a>
                            <div id="popover-content" style="display:none;">
                              <ul>
                                  {% if trabajo.con_inspeccion %}
                                  <li>Con inspección: <span class="glyphicon glyphicon-ok"></span> </li>
                                  <li> {{trabajo.fecha_inspeccion_}} </li>
                                  {% else %}
                                  <li>Con inspección: <span class="glyphicon glyphicon-remove"></span> </li>
                                  {% endif %}
                                  {% if trabajo.productor.preferencial %}
                                  <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                                  {% else %}
                                  <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                                  {% endif %}
                                  <li>Cobrado: {{trabajo.cobrado}} </li>
                                  <li>Saldo: {{trabajo.saldo}}
                              </ul>
                            </div>
                      </h6>
                </td>
                <script>
                $("[data-toggle=popover]").popover({
                    html: true,
                    content: function() {
                          return $('#popover-content').html();
                        }
                });

                </script>

                <td>
                      <h4 class="title">
                        <a href="/admin/productores/productor/{{trabajo.productor.id}}/change/">{{ trabajo.productor }}</a>
                      </h4>
                      <p class="summary"></p>
                </td>
                <td>
                      <h6 class="title">
                        {% if trabajo.productor.libros_digitales %}
                        <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                      </h6>
                </td>
                <td>
                  <h6 class="title">
                        {{trabajo.motivo_espera}}
                  </h6>
                </td>
                <td>
                  <h6>{{trabajo.pasar_a_pendiente}}</h6>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>


 </div>
  </div>
</div> <!-- Fin Trabajos en Espera-->

<!-- Trabajos Digitales-->
<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading"><a href="#digital_mensual" data-toggle="collapse"><h4>Productores Digitales Mensual (Click para Ver) <span class="badge">{{total_digitales}}</span></h4></a></div>
      <div id="digital_mensual" class="collapse">
        <div class="panel-body">
          <div class="col-md-12">
              <br>
              <table class="table table-striped">
                <thead class="thead">
                  <tr>
                    <th>Fecha de Solicitud</th>
                    <th>Nombre del Productor</th>
                    <th>Ultimo Cobro</th>
                    <th>Cuotas Pendiente</th>
                  </tr>
                </thead>
                <tbody>
                  {% for trabajo in digitales %}
                  <script>
                  jQuery(document).ready(function($) {
                      $(".clickable-row").click(function() {
                          //window.location = window.open($(this).data("href"));
                      });
                  });
                  </script>
                  <tr class='clickable-row' data-href='/admin/productores/productor/{{trabajo.productor.id}}/change/'>
                    <td>
                          <h6 class="title">
                                <a href="#" data-toggle="popover" title="{{trabajo.fecha}}" data-placement="bottom" data-trigger="hover">{{ trabajo.fecha }}</a>
                                <div id="popover-content" style="display:none;">
                                  <ul>
                                      {% if trabajo.con_inspeccion %}
                                      <li>Con inspección: <span class="glyphicon glyphicon-ok"></span> </li>
                                      <li> {{trabajo.fecha_inspeccion_}} </li>
                                      {% else %}
                                      <li>Con inspección: <span class="glyphicon glyphicon-remove"></span> </li>
                                      {% endif %}
                                      {% if trabajo.productor.preferencial %}
                                      <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                                      {% else %}
                                      <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                                      {% endif %}
                                      <li>Cobrado: {{trabajo.cobrado}} </li>
                                      <li>Saldo: {{trabajo.saldo}}
                                  </ul>
                                </div>
                          </h6>
                    </td>
                    <script>
                    $("[data-toggle=popover]").popover({
                        html: true,
                        content: function() {
                              return $('#popover-content').html();
                            }
                    });

                    </script>

                    <td>
                          <h4 class="title">
                            <a href="/admin/productores/productor/{{trabajo.productor.id}}/change/">{{ trabajo.productor }}</a>
                          </h4>
                          <p class="summary"></p>
                    </td>
                    <td>
                          <h6 style="color:dodgerblue;" class="title">
                            <b>{{trabajo.productor.ultimo_cobro}}</b>
                          </h6>
                    </td>
                    <td>
                      {% if trabajo.productor.cuotas_pendiente >= 5 %}
                      <h6 style="color:red;" class="title">
                      {% else %}
                      <h6 style="color:black;" class="title">
                      {% endif %}  
                            <b>{{trabajo.productor.cuotas_pendiente}}</b>
                      </h6>
                    </td>
                    <td>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            
          </div>


          </div>
          </div>
      </div>
  </div>
</div> <!-- Fin de Trabajos Digitales-->

<!-- Trabajos Abiertos-->
<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading"><a href="#abiertos" data-toggle="collapse"><h4>Lista de todos los trabajos abiertos (Click para Ver) <span class="badge">{{total_abiertos}}</span></h4></a></div>
      <div id="abiertos" class="collapse">
        <div class="panel-body">
         <div class="col-md-12">
          <br>
          <table class="table table-striped">
            <thead class="thead">
              <tr>
                <th>Fecha de Solicitud</th>
                <th>Nombre del Productor</th>
                <th>Trabajo Digital</th>
                <th></th>
                <th>Encargado</th>
              </tr>
            </thead>
            <tbody>
              {% for trabajo in abiertos %}
              <script>
              jQuery(document).ready(function($) {
                  $(".clickable-row").click(function() {
                      //window.location = window.open($(this).data("href"));
                  });
              });
              </script>
              <tr class='clickable-row' data-href='/admin/productores/productor/{{trabajo.productor.id}}/change/'>
                <td>
                      <h6 class="title">
                            <a href="#" data-toggle="popover" title="{{trabajo.fecha}}" data-placement="bottom" data-trigger="hover">{{ trabajo.fecha }}</a>
                            <div id="popover-content" style="display:none;">
                              <ul>
                                  {% if trabajo.con_inspeccion %}
                                  <li>Con inspección: <span class="glyphicon glyphicon-ok"></span> </li>
                                  <li> {{trabajo.fecha_inspeccion_}} </li>
                                  {% else %}
                                  <li>Con inspección: <span class="glyphicon glyphicon-remove"></span> </li>
                                  {% endif %}
                                  {% if trabajo.productor.preferencial %}
                                  <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                                  {% else %}
                                  <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                                  {% endif %}
                                  <li>Cobrado: {{trabajo.cobrado}} </li>
                                  <li>Saldo: {{trabajo.saldo}}
                              </ul>
                            </div>
                      </h6>
                </td>
                <script>
                $("[data-toggle=popover]").popover({
                    html: true,
                    content: function() {
                          return $('#popover-content').html();
                        }
                });

                </script>

                <td>
                      <h4 class="title">
                        <a href="/admin/productores/productor/{{trabajo.productor.id}}/change/">{{ trabajo.productor }}</a>
                      </h4>
                      <p class="summary"></p>
                </td>
                <td>
                      <h6 class="title">
                        {% if trabajo.productor.libros_digitales %}
                        <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                      </h6>
                </td>
                <td>
                  <h6 class="title">
                        {{trabajo.motivo_espera}}
                  </h6>
                </td>
                <td>
                  <h6>{{trabajo.productor.encargado}}</h6>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
          </div>
          </div>
      </div>
  </div>
</div> <!-- Fin de Trabajos Abiertos-->

{% endblock %}
