{% extends 'base.html' %}
{% block content %}

<div class="alert alert-info alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Información!</strong> No hay mas tarjetas pendientes para este trabajo. <a href="/trabajos/dashboard/" class="alert-link">Ir al Dashboard</a>
</div>
{% endblock %}


