{% extends 'base.html' %}
{% block content %}


<div class="container">
<h2>{{tarea.tipo_tarea}}
  {% if tarea.tipo == "C" %}
  Cobranzas
  {% endif %}
  {% if tarea.tipo == "O" %}
  Operaciones
  {% endif %}

{% if tarea.tipo_tarea == "GeneracionImpresos" or tarea.tipo_tarea == "GeneracionDigitales" %}

    <h4 class="title">
      <a data-toggle="popover" title="Ultima generación hasta: {{ gen_anterior.hasta }}" data-placement="bottom" data-trigger="hover">Estado de los libros</a>
         <div id="popover-content-3" style="display:none;">
           <ul>
               <li>Ultimo Libro Operaciones
               {{trabajo.productor.ultimo_libro_en_uso_o}} </li>
               <li>Hojas Disponibles Operaciones
                 {{trabajo.productor.hojas_disponibles_o}} </li>

               <li>Ultimo Libro Cobranzas
                 {{trabajo.productor.ultimo_libro_en_uso_c}} </li>
               <li>Hojas Disponibles Cobranzas
                   {{trabajo.productor.hojas_disponibles_c}} </li>
           </ul>
         </div>
    </h4>
    <script>
    $("[data-toggle=popover]").popover({
        html: true,
        content: function() {
              return $('#popover-content-3').html();
            }
    });
    </script>
    {% endif %}
</h2>
</div>

<div class="container">
<div class="panel panel-primary">
<div class="panel-body">
{% if repetido %}
<div class="alert alert-warning">
    <strong>Atencion!</strong> Este reclamo ya fue hecho.
</div>
{% endif %}

{% if tarea.productor_en_compania %}
    <p>Compañía: {{tarea.productor_en_compania.compania}}
    {% if not tarea.productor_en_compania.compania.portal_productores %}
        <p style="color: #f20c0c">(Sin Portal)</p>
    {% endif %}

    {% if tarea.productor_en_compania.compania.portal_productores %}
        (<a target="_blank" href="{{tarea.productor_en_compania.compania.portal_productores}}">Portal</a>)
    {% endif %}
    </p>
{% endif %}

{% if tarea.tipo_tarea == "Descarga" %}
    <p>Usuario: {{tarea.productor_en_compania.clave_vigente.usuario}}
    <p>Password: {{tarea.productor_en_compania.clave_vigente.password}}
    {% with instructivo=tarea.productor_en_compania.compania.instructivo_descarga %}
        {% if instructivo %}
            <pre>
                Instructivo:
                {{instructivo}}
            </pre>
        {% endif %}
    {% endwith %}
{% endif %}

{% if tarea.tipo_tarea == "Recupero" %}
    {% with instructivo=tarea.productor_en_compania.compania.instructivo_recupero %}
        {% if instructivo %}
            <pre>Instructivo:
            {{instructivo}}
            </pre>
        {% endif %}
    {% endwith %}

{% endif %}

{% if tarea.tipo_tarea == "PresupuestoDigitales" or tarea.tipo_tarea == "PresupuestoImpresos" %}
    <p>Cantidad de Hojas Disponibles para Operaciones {{ tarea.trabajo.productor.hojas_disponibles_o }}</p>
    <p>Cantidad de Hojas Disponibles para Cobranzas {{ tarea.trabajo.productor.hojas_disponibles_c }}</p>
    <b> Listado de Compañias </b>
    <ul style="list-style-type:square">
        {% for prodcomp in tarea.trabajo.productor.companias.all %}
            <li>Compañia: {{ prodcomp.compania }}</li>
        {% endfor %}
    </ul>

{% endif %}
</div>
</div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Tarea: {{tarea.tipo_tarea}}</div>
    <div class="panel-body">
      <form method="POST" action=".">
      {% csrf_token %}
      <div class="form-group">
        <table>
          {{form.as_table}}
        </table>
      </div>
    </div>
    <div class="panel-footer">
        <input class="btn btn-success" type="submit" value="Ok" name="OK" />
        {% if tarea.tipo_tarea == "Descarga" %}
        <input class="btn btn-danger" type="submit" value="Claves incorrectas" name="ERR" />
        {% endif %}
        <input class="btn btn-warning" type="submit" value="Postergar hasta mañana" name="POS" />
    </div>
    </form>
  </div>
</div>


<hr size="30">


<div class="col-md-10 col-md-offset-0">
  <div class = "page-header">
<h3> Información del trabajo </h3>
    </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-container">
        <table class="table table-hover">
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Trabajo Digital</th>
          <th>Observaciones </th>
          <tbody>
            <script>
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = window.open($(this).data("href"));
                });
            });
            </script>
            <tr class='clickable-row' data-href='/admin/productores/productor/{{trabajo.productor.id}}/change/'>
                      <td>
                         <a data-toggle="popover" title="{{trabajo.fecha}}" data-placement="top" data-trigger="hover">{{ trabajo.fecha }}</a>
                         <div id="popover-content" style="display:none;">
                           <ul>
                               {% if trabajo.con_inspeccion %}
                               <li>Con inspección: <span class="glyphicon glyphicon-ok"></span> </li>
                               <li> {{trabajo.fecha_inspeccion_}} </li>
                               {% else %}
                               <li>Con inspección: <span class="glyphicon glyphicon-remove"></span> </li>
                               {% endif %}
                               {% if trabajo.productor.preferencial %}
                               <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                               {% else %}
                               <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                               {% endif %}
                               <li>Cobrado: {{trabajo.cobrado}} </li>
                               <li>Saldo: {{trabajo.saldo}}
                           </ul>
                         </div>
                    <script>
                    $("[data-toggle=popover]").popover({
                        html: true,
                        content: function() {
                              return $('#popover-content').html();
                            }
                    });

                    </script>
              </td>
              <td>
                  <a data-toggle="popover" title="{{trabajo.productor}}" data-placement="top" data-trigger="hover">{{ trabajo.productor }}</a>
                     <div id="popover-content-2" style="display:none;">
                       <ul>
                           {% if trabajo.productor.email %}
                           <li>Mail :
                           {{trabajo.productor.email}} </li>
                           {% else %}
                           <li>Mail <span class="glyphicon glyphicon-remove"></span> </li>
                           {% endif %}
                           {% if trabajo.productor.telefono %}
                           <li>Telefono :
                           {{trabajo.productor.telefono}} </li>
                           {% else %}
                           <li>Telefono :<span class="glyphicon glyphicon-remove"></span> </li>
                           {% endif %}
                           {% if trabajo.productor.preferencial %}
                           <li>Preferencial: <span class="glyphicon glyphicon-ok"></span> </li>
                           {% else %}
                           <li>Preferencial: <span class="glyphicon glyphicon-remove"></span> </li>
                           {% endif %}
                           {% if trabajo.productor.observaciones %}
                           <li>Observaciones: {{ trabajo.productor.observaciones }}</span> </li>
                           {% else %}
                           <li>Observaciones: <span class="glyphicon glyphicon-remove"></span> </li>
                           {% endif %}
                       </ul>
                     </div>

                     <script>
                     $("[data-toggle=popover]").popover({
                         html: true,
                         content: function() {
                               return $('#popover-content-2').html();
                             }
                     });

                     </script>
              </td>
              <td>
                      {% if trabajo.productor.libros_digitales %}
                      <span class="glyphicon glyphicon-ok"></span>
                      {% else %}
                      <span class="glyphicon glyphicon-remove"></span>
                      {% endif %}
              </td>
              <td class="observaciones">
                {{trabajo.observaciones}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
