{% extends 'base.html' %}
{% block content %}

<p><h4> Tarjeta asignada automáticamente a Simón para su Impresión</h4></p>
<a href="/trabajos/dashboard/" class="btn btn-info" >Ir al Dashboard</a>
{% endblock %}
