.my-content-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

html {
    font-family: 'Exo 2', sans-serif;
}
.mytr td {
    padding: 2px 0px;
}
.mycopy {
    font-size: 11px;
}
.myhead {
    margin: 0px;
}
.padding-4 {
    padding: 4% !important;
}
.company-header {
    font-size: 16px;
}
header, main, footer {
    padding-left: 300px;
}
.myactive {
    background-color: rgba(126, 126, 100, 0.2);
    border-left: 4px solid yellow;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
