html {
    /*font-family: 'Exo 2', sans-serif;*/
    font-family: 'Roboto 2', sans-serif;
}

header, main, footer, .search-prod {
  padding-left: 250px;
  margin-bottom: 0px;
}
.sislis-aside {
  width: 250px;
}
.contenido {
  padding-top: 0px;
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  header, main, footer, .search-prod .contenido {
    padding-left: 0;
  }
}
.add-popup {
    cursor: pointer;
}

.mycopy {
    font-size: 75%;
}
.btn-clipboard {
  padding: .15rem .25rem;
  margin: 1px;
  font-size: 75%;
  cursor: pointer;
  border: 0;
  border-radius: .25rem;
}
.table-book {
  width: 100%;
}
.table-book thead {
  border-bottom: 1px solid #BDBDBD;
}
.mytr td {
    padding: 2px 0px;
}
.my-dark-primary-color    { background: #1976D2; }
.my-default-primary-color { background: #2196F3; }
.my-light-primary-color   { background: #BBDEFB; }
.my-text-primary-color    { color: #FFFFFF; }
.my-accent-color          { background: #FF5722; }
.my-primary-text-color    { color: #212121; }
.my-secondary-text-color  { color: #757575; }
.my-divider-color         { border-color: #BDBDBD; }

table.custom-tabl {
    border: solid 1px;
}

table.custom-table tr td{
    padding: 4px;
}
.alineacion {
    text-align: right;
    font-weight: bold;
}

.book-info {
    margin: 0px;
    width: 100%;
    padding: 0px;
}
.book-info .box {
    box-sizing: border-box;
    text-align: center;
    /* border-top: .5px solid; */
    padding-top: 10px;
    display: inline-block;
}
.book-info .box-simple {
    width: 60px;
    height: 60px;
}
.book-info .box-date {
    width: 115px;
    height: 60px;
}
.book-info span {
    display: block;
}
.book-info .value {
    font-weight: 600;
}
.book-info .value-simple {
    font-size: 18px;
}
.book-info .value-date {
    font-size: 15px;
}
.book-info .description {
    font-size: 11px;
}

.book-row {
    margin: 0px;
    padding: 1px;
}

.mymarked strong {
    font-weight: 700;
}
/* Contenedor Buscador */
.row-mb0 {
    margin-bottom: 0px;
}
/* TABS */
.tabs .tab a {
  color: black;
}
.tabs .tab a.active {
  color: #0288d1;
}
.tabs .tab a:hover {
  color: #0288d1;
}
.tabs .tab a:focus {
  background-color: #0288d1;
}
.tabs .tab a:focus.active {
  background-color: rgba(2, 136, 209, 0.1);
}
.tabs .indicator {
  background-color: #0288d1;
}
