{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Clave {{ cia }}</span>
        <form action="" method="post">
          {% csrf_token %}
          <div class="input-field">
            {{ form.usuario }}
            <label for="id_usuario">Usuario</label>
          </div>
          <div class="input-field">
            {{ form.password }}
            <label for="id_password">Contrasena</label>
          </div>
          <p>
          <input type="submit" class="btn" value="Aceptar"/>
          <a href="{% url 'productor-detail' productor.id %}" class="btn red darken-2">Cancelar</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script charset="utf-8">
  $(document).ready(function() {
  $('select').formSelect();
  });
</script>
{% endblock %}
