{% extends "base.html" %}

{% block content %}
<div class="container">
  <ul class="collection">
    {% for cia in object_list %}
    <li class="collection-item avatar">
      <a href="{% url 'compania-update' cia.pk %}" class="black-text"><h5>{{ cia|upper }}</h5></a>
      <blockquote>
        <p><a href="#">Portal 1</a> | <a href="#">Portal 2</a></p>
      </blockquote>
    </li>
    {% empty %}
    <a class="btn" href="{% url 'compania-create' %}">Agregar una compañía</a>
    <a class="btn" href="{% url 'compania-add-all' %}">Agregar todas las compañías</a>
    <h4>No se encontraron compañías</h4>
    {% endfor %}
  </ul> 
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="waves-effect">
      <a href="/companias?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    </li>
    {% endif %}
    <li class="active"><a href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li class="waves-effect">
      <a href="/companias?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock %}
