{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/select2-materialize.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <form action="" method="post"> {% csrf_token %}
        <div class="card-content">
          <span class="card-title">Seleccione la compañía a agregar:</span>
          <div class="input-field">
            {{ form.compania }}
            <label for="id_compania">Compañía</label>
          </div>
        </div>
        <div class="card-action center">
          <button type="submit" class="btn">Aceptar</button>
          <a href="{% url 'productor-detail' prod_id %}" class="btn red darken-1">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/select2.min.js' %}"></script>
<script charset="utf-8">
  $(document).ready(function() {
/*$('select').formSelect();*/
$('select').select2();
})
</script>
{% endblock %}
