{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s8 m8 offset-m2">
    <div class="card">
      <form action="" method="post"> {% csrf_token %}
        <div class="card-content">
          <span class="card-title">Datos de la compañía</span>
          <div class="input-field">
            {{ form.codigo }}
            <label for="id_codigo">Código</label>
          </div>
          <div class="input-field">
            {{ form.portal_web }}
            <label for="id_portal_web">Portal de productores</label>
          </div>
          <label>
            {{ form.es_descargable }}
            <span>Descargable</span>
          </label>
          <label>
            {{ form.descarga_automatizada }}
            <span>Descarga automatizada</span>
          </label>
          <div class="input-field">
            {{ form.instructivo_descarga }}
            <label for="id_instructivo_descarga">Instructivo Descarga</label>
          </div>
          <div class="input-field">
            {{ form.instructivo_recupero }}
            <label for="id_instructivo_recupero">Instructivo Recupero</label>
          </div>
        </div>
        <div class="card-action center">
          <button type="submit" class="btn">Aceptar</button>
          <a href="{% url 'compania-home' %}" class="btn red darken-2">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script charset="utf-8">
  $(document).ready(function() {
;
})
</script>
{% endblock %}
