{% extends 'base.html' %}
{% block content %}
<form method="post"> {% csrf_token %}
  <div class='row'>
    <div class='col s12 m6 offset-m3'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'>Datos de Licencia</span>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.licencia }}
              <label for="id_licencia">Licencia</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.licencias_extra }}
              <label for="id_licencia_extra">Licencia extra</label>
            </div>
          </div>
          <div class='row'>
            <div class='col s12'>
              <label>
                {{ form.licencia_preferencial }}
                <span>Licencia preferencial</span>
              </label>
            </div>
        </div>
        <div class='card-action'>
          <input class="btn" type="submit" value="Aceptar" />
          <button class="btn red darken-3" onclick="window.close()">Cancelar</button> 
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
