{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <form action="" method="post"> {% csrf_token %}
        <div class="card-content">
          <span class="card-title">Se va a eliminar:</span>
          <h5><i class="material-icons red-text">clear</i>{{ pec }}</h5>
        </div>
        <div class="card-action center">
          <span>¿Está seguro?</span>
          <button type="submit" class="btn">Aceptar</button>
          <a href="{% url 'productor-detail' pec.productor.id %}" class="btn red darken-1">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
