{% extends 'base.html' %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <div class='card'>
        <div class='card-content'>
          <p>{{ object.nombre }}</p>
          <p>{{ object.provincia }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
