{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class='row'>
    <div class='col s12 m6 offset-m3'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'>Información de localidad</span>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.nombre }}
              <label for="id_nombre">Nombre</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.provincia }}
              <label for="id_provincia">Provincia</label>
            </div>
          </div>
        </div>
        <div class='card-action center'>
          <input class='btn' type="submit" value="Aceptar" />
          <button class="btn red darken-3" onclick="window.close()">Cancelar</button> 
        </div>
      </div>
    </div>
  </div> 
</form>
{% endblock %}
{% block extrajs %}
<script charset="utf-8">
$(document).ready(function(){
  $('select').formSelect();
});
</script>
{% endblock %}
