{% extends "base.html" %}
{% block content %}
<h3>Nueva impresión: {{productor}}</h3>
<div class="row">
  <form action="/productores/trabajo/new/" method="post">
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>Alerta!</strong> Debe completar los datos faltante.
    </div>
    {% endif %}
    <div class="row">
    <div class="col m6">
      <div class="card book-row">
        <div class="card-content">
          <span class="card-title">Operaciones</span>
          <div class="input-field">
            <input type="date" name="fecha_op" id="fecha" placeholder="">
            <label for="fecha">Fecha generación</label>
          </div>

          <div class="input-field">
            <input type="date" name="fecha_hasta_op" id="fechah" placeholder="">
            <label for="fechah">Fecha hasta</label>
          </div>
          {% if not productor.libros_digitales %}
          <div class="input-field">
            <input type="number" name="libro_op" id="libro_op">
            <label for="libro_op">Libros Operaciones</label>
          </div>

          <div class="input-field">
            <input type="number" name="hoja_op" id="hoja">
            <label for="hoja">Hoja Operaciones</label>
          </div>

          <div class="input-field">
            <input type="number" name="orden_op" id="orden_op">
            <label for="orden_op">Orden Operaciones</label>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card book-row">
        <div class="card-content">
          <span class="card-title">Cobranzas</span>
          <div class="input-field">
            <input type="date" name="fecha_co" id="fechac" placeholder="">
            <label for="fechac">Fecha generación</label>
          </div>

          <div class="input-field">
            <input type="date" name="fecha_hasta_co" id="fechahc" placeholder="">
            <label for="fechahc">Fecha hasta</label>
          </div>

          {% if not productor.libros_digitales %}
          <div class="input-field">
            <input type="number" name="libro_co" id="libroc">
            <label for="libroc">Libros Cobranzas</label>
          </div>

          <div class="input-field">
            <input type="number" name="hoja_co" id="hojac">
            <label for="hojac">Hoja Cobranzas</label>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col m4 offset-m4">
      <button type="Submit" class="btn btn-success">Guardar</button>
      <!--
        <a href="/admin/productores/productor/{{productor.id}}/change/" class="btn btn-danger" role="button">Cancelar</a>
      -->
      <a href="{% url 'productor-detail' productor.id %}" class="btn btn-danger" role="button">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock%}
