{% extends "suit_base.html" %}
{% block content %}
<h1>Tabla para exportar</h1>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn-primary">Exportar a excel</button>
    <table class="table">
        <thead>
            {% for h in cabecera %}
            <th>{{ h }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for i in tabla %}
            <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
