{% extends 'base.html' %}
{% load productor_tags %}
{% block content %}
<div class="row">
  <div class="col s12 m4">
    <div class="row row-mb0">
      <div class="card row-mb0">
        <div class="card-content">
          <span class="card-title">Productor
            <a href="{% url 'productor-update' object.pk %}" class="btn-floating btn-small right"><i class="material-icons">edit</i></a>
          </span>
          <div class="center">
            <span><i class="material-icons large">account_circle</i></span>
            <h5 class="grey-text darken-4">{{ productor }}</h5>
            <p class="grey-text">Matrícula</p>
            <span><a href="{{ object.get_link_to_ssn }}" target="_blank">{{ object.matricula }}</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-mb0">
      <ul class="collection" style="margin-top: 1px;">
        <li class="collection-item">
          <span class="grey-text">Cuit</span><br>
          <span style="word-wrap: break-word;">{{ object.get_cuit }}</span>
        </li>
        <li class="collection-item">
          <span class="grey-text">Dirección</span><br>
          <span style="word-wrap: break-word;">{{ object.get_direccion }}</span>
        </li>
        <li class="collection-item">
          <span class="grey-text">Localidad</span><br>
          <span style="word-wrap: break-word;">{{ object.get_localidad_name }}</span>
        </li>
        <li class="collection-item">
          <span class="grey-text">Provincia</span><br>
          <span style="word-wrap: break-word;">{{ object.get_provincia_name }}</span>
        </li>
        <li class="collection-item">
          <span class="grey-text">e-mail</span><br>
          <span style="word-wrap: break-word;">{{ object.get_email }}</span>
        </li>
        <li class="collection-item">
          <span class="grey-text">Digital</span><br>
          <span style="word-wrap: break-word;">{% if object.rubrica_digital %}Sí{% else %}No{% endif %}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m8">
    <div class="row" style="margin-top: .5rem;">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab"><a href="#tab-libros" class="active">Libros</a></li>
          <li class="tab"><a href="#tab-companias">Companias</a></li>
        </ul>
      </div>
      <div id="tab-libros" class="col s12">
        <div class="row row-mb0">
          <div class="col s12">
            <div class="card row-mb0" style="margin-top: 0px;">
              <div class="card-content">
                <span class="card-title">
                  Actual
                  <a href="" class="btn-floating btn-small right"><i class="material-icons">add</i></a>
                </span>
                <div class="row book-row">
                  <div class="book-info">
                    <div class="box box-simple grey darken-3 white-text">
                      <span class="value value-date">Ope.</span>
                      <span class="description">Actual</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">{{ book_info.ope_generado }}</span>
                      <span class="description">Generado</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">{{ book_info.ope_hasta }}</span>
                      <span class="description">Hasta</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.ope_libro }}</span>
                      <span class="description">Libro</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.ope_hoja }}</span>
                      <span class="description">Hoja</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.ope_orden }}</span>
                      <span class="description">Orden</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.ope_stock }}</span>
                      <span class="description">Stock</span>
                    </div>
                  </div>
                </div>
                <div class="row book-row">
                  <div class="book-info">
                    <div class="box box-simple grey darken-3 white-text">
                      <span class="value value-date">Cob.</span>
                      <span class="description">Actual</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">{{ book_info.cob_generado }}</span>
                      <span class="description">Generado</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">{{ book_info.cob_hasta }}</span>
                      <span class="description">Hasta</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.cob_libro }}</span>
                      <span class="description">Libro</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.cob_hoja }}</span>
                      <span class="description">Hoja</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.cob_orden }}</span>
                      <span class="description">Orden</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">{{ book_info.cob_stock }}</span>
                      <span class="description">Stock</span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="row book-row">
          <div class="col s12">
            <div class="card book-row amber accent-2">
              <div class="card-content">
                <span class="card-title">Anterior</span>
                <div class="row book-row">
                  <div class="book-info">
                    <div class="box box-simple grey darken-3 white-text">
                      <span class="value value-date">Ope.</span>
                      <span class="description">Anterior</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">25/07/2017</span>
                      <span class="description">Generado</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">28/02/2018</span>
                      <span class="description">Hasta</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">999</span>
                      <span class="description">Libro</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">499</span>
                      <span class="description">Hoja</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">8</span>
                      <span class="description">Orden</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">143</span>
                      <span class="description">Stock</span>
                    </div>
                  </div>
                </div>
                <div class="row book-row">
                  <div class="book-info">
                    <div class="box box-simple grey darken-3 white-text">
                      <span class="value value-date">Cob.</span>
                      <span class="description">Anterior</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">25/07/2017</span>
                      <span class="description">Generado</span>
                    </div>
                    <div class="box box-date">
                      <span class="value value-date">28/02/2018</span>
                      <span class="description">Hasta</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">472</span>
                      <span class="description">Libro</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">4</span>
                      <span class="description">Hoja</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">8</span>
                      <span class="description">Orden</span>
                    </div>
                    <div class="box box-simple">
                      <span class="value value-simple">143</span>
                      <span class="description">Stock</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-companias" class="col s12">
        <div class="row">
          <div class="col s12">
              {% for prodEnCia, clave in claves %}
              {% if forloop.first %}
                <div class="row row-mb0"> {# primer row #}
              {% endif %}
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">{{ prodEnCia.compania }}</span>
                    {% if  clave %}
                    <p class="truncate">Usuario: <span id="usuario_{{clave.id}}">{{ clave.usuario }}</span></p>
                    <p class="truncate">Contraseña: <span id="password_{{clave.id}}">{{ clave.password }}</span></p>
                    <div class="divider"></div>
                    <div class="right">
                      <span class="grey-text">Copiar</span>
                      <span><a data-clipboard-target="#usuario_{{clave.id}}" class="btn-clipboard mycopy">usuario</a></span> |
                      <span><a data-clipboard-target="#password_{{clave.id}}" class="btn-clipboard mycopy">contraseña</a></span>
                    </div>
                    {% else %}
                    <p>Usuario:</p>
                    <p>Contraseña:</p>
                    {% endif %}
                    {# Instructivo Modal #}
                    <div id="compania_{{ prodEnCia.compania.id }}" class="modal">
                      <div class="modal-content">
                        <h4>{{ prodEnCia.compania }}</h4>
                        <div class="mymarked">
                          {{ prodEnCia.compania.instructivo_descarga|marked|safe }}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-action">
                    <a href="#compania_{{ prodEnCia.compania.id }}" class="modal-trigger blue-text">Instructivo</a>
                    <div class="right">
                      <ul id="menu-cia" class="dropdown-content">
                        <li>
                          {% if clave %}
                          <a href="" class="blue-text">Editar</a>
                          {% else %}
                          <a href="" class="blue-text">Crear clave</a>
                          {% endif %}
                        </li>
                        <li><a href="" class="red-text">Eliminar</a></li>
                      </ul>
                      <a href="#" class="dropdown-trigger" data-target="menu-cia"><i class="material-icons blue-text">more_vert</i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% if forloop.last %}
                </div>
              {% elif forloop.counter|divisibleby:"2" %}
                </div>
                <div class="row row-mb0">
              {% endif %}
              {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col 12 right">
            <a href="" class="btn-floating btn-small waves-effect right"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div> {# Termina cia#}
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script charset="utf-8">
$(document).ready(function(){
$('.modal').modal();
$('.tabs').tabs();
$('.dropdown-trigger').dropdown({alignment: 'top',});
});
</script>
{% endblock %}
