{% extends "base.html" %}

{% block content %}
<div class="container">
  <ul class="collection">
    {% for prod in productores %}
    <li class="collection-item avatar">
      <i class="material-icons circle teal darken-2">{{ prod.nombre.0 }}</i>
      <a href="{% url 'productor-detail' prod.pk %}"><span class="title">{{ prod }}</span></a>
      <p>Matricula: <a href="{{ prod.get_link_ssn }}" target="_blank">{{ prod.matricula }}</a>
      {% if prod.libros_digitales %}
        <span class="new badge" data-badge-caption="Digital"></span>
      {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
