{% extends 'base.html' %}
{% block content %}
{{ productor.nombre }}
{{ productor.libros_digitales }}
<div class='card' style='width: 18rem;'>
    <h2 class='card-title'>Matricula</h2>
    <div class='card-body'>
        {{ productor.matricula }}
    </div>
</div>
    
<h2>Libro</h2>
{{ productor.ultimo_libro_operaciones }}
{{ productor.ultimo_libro_cobranzas }}
<h2>Fecha ultima impresion</h2>
desde: | hasta:

<h2>Companias:</h2>
{% for p, c in data %}
    {{ p.compania.nombre }}
    {{ c.usuario }} | {{ c.password }} | {{ c.identificador }}
{% empty %}
    No tiene compania asignadas.
{% endfor %}
{% endblock %}
