{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class='row'>
    <div class='col s12 m6 offset-m3'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'>Información personal</span>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.apellido }}
              <label for="id_apellido">Apellido</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.nombres }}
              <label for="id_nombres">Nombres</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.direccion }}
              <label for="id_direccion">Dirección</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s11'>
              {{ form.localidad }}
              <label for="id_localidad">Localidad</label>
            </div>
            <div class='col s1'>
              <a class='add-popup tooltiped' data-position="bottom" data-tooltip="Crear localidad" target="popup" onclick="window.open('{% url 'localidad-create' %}', 'name', 'width=600,height=650')"><i class='material-icons'>add</i></a>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.email }}
              <label for="id_email">Correo electrónico</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              {{ form.cuit }}
              <label for="id_cuit">CUIT</label>
            </div>
          </div>
        </div>
        <div class='card-action center'>
          <input class='btn' type="submit" value="Aceptar" />
          <button class="btn red darken-3" onclick="window.close()">Cancelar</button> 
        </div>
      </div>
    </div>
  </div> 
</form>
{% endblock %}
{% block extrajs %}
<script charset="utf-8">
$(document).ready(function(){
  $('select').formSelect();
  $('.tooltiped').tooltip();
});
</script>
{% endblock %}
