{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class='row'>
    <div class='col s12 m6 offset-m3'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'>Nuevo productor</span>
          <div class='row'>
            <div class='input-field col s11'>
              {{ form.profile }}
              <label for="id_profile">Perfil</label>
            </div>
            <a class='col s1 add-popup tooltiped' data-position="bottom" data-tooltip="Crear Perfil" target="popup" onclick="window.open('{% url 'productor-create-profile' %}', 'name', 'width=600,height=650')"><i class='material-icons'>add</i></a>
          </div>
          <div class='row'>
            <div class='input-field col s6'>
              {{ form.matricula }}
              <label for="id_matricula">Matrícula</label>
            </div>
            <div class='input-field col s6'>
              {{ form.clave_fiscal }}
              <label for="id_clave_fiscal">Clave Fiscal</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s4'>
              {{ form.tipo_persona }}
              <label for="id_tipo_persona">Tipo de persona</label>
            </div>
            <div class='input-field col s7'>
              {{ form.licence }}
              <label for="id_licence">Licencia</label>
            </div>
            <a class='col s1 add-popup tooltiped' data-position="bottom" data-tooltip="Crear licencia" target="popup" onclick="window.open('{% url 'create-licencia' %}', 'name', 'width=600,height=650')"><i class='material-icons'>add</i></a>
          </div>
          <div class='row'>
            <div class='col s6'>
              <label>
                {{ form.articulo_19 }}
                <span>Artículo 19</span>
              </label>
            </div>
            <div class='col s6'>
              <label>
                {{ form.rubrica_digital }}
                <span>Rúbrica Digital</span>
              </label>
            </div>
          </div>
          <div class='row'>
            <div class='col s6'>
              <label>
                {{ form.preferencial }}
                <span>Preferencial</span>
              </label>
            </div>
            <div class='col s6'>
              <label>
                {{ form.trabajo_mensual }}
                <span>Trabajo mensual</span>
              </label>
            </div>
          </div> 
        </div>
        <div class='card-action center'>
          <input class='btn' type="submit" value="Aceptar" />
          <button class="btn red darken-3" onclick="window.history.back()">Cancelar</button> 
        </div>
      </div>
    </div>
  </div> 
</form>

{% endblock %}
{% block extrajs %}
<script charset="utf-8">
$(document).ready(function(){
  $('select').formSelect();
  $('.tooltiped').tooltip();
  $("select[required]").css({position: 'absolute', display: 'inline', height: 0, padding: 0, width: 0});
});
</script>
{% endblock %}
