{% extends "base.html" %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <p>
      <a class='btn right' href="{% url 'productor-create' %}">Agregar productor</a>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col s12'>
      <ul class='collection with-header'>
        <li class='collection-header'><h4>Productores</h4></li>
        {% for productor in object_list %}
        <a class='collection-item' href="{{ productor.get_absolute_url }}">{{ productor }}</a>
        {% empty %}
          <h4>No existen productores aun.</h4>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
