{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <form action="" method="post">
        {% csrf_token %}
        <div class="card-content">
          <span class="card-title">Actualizar informacion</span>
          <div class="input-field">
            {{ form.matricula }}
            <label id="id_matricula">Matricula</label>
          </div>
          <div class="input-field">
            {{ form.cuit }}
            <label for="id_cuit">CUIT</label>
          </div>
          <div class="input-field">
            {{ form.direccion }}
            <label for="id_direccion">Direccion</label>
          </div>
          <div class="input-field">
            {{ form.localidad }}
            <label for="id_localidad">Localidad</label>
          </div>
          <div class="input-field">
            {{ form.provincia }}
            <label for="id_provincia">Provincia</label>
          </div>
          <div class="input-field">
            {{ form.email }}
            <label for="id_email">e-email</label>
          </div>
          <label for="id_libros_digitales">
            {{ form.libros_digitales }}
            <span>Digital</span>
          </label>
        </div>
          <div class="card-action center">
          <input type="submit" class="btn" value="Aceptar"/>
          <a href="{% url 'productor-detail' productor.id %}" class="btn red darken-2">Cancelar</a>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script charset="utf-8">
  $(document).ready(function() {
  $('select').formSelect();
  $('.modal').modal();
  });
</script>
{% endblock %}
