{% extends 'base.html' %}
{% block content %}
<div class='container'>
  <ul class='collection with-header'>
    <li class='collection-header'><h4>Provincias Argentinas</h4></li>
    {% for provincia in object_list %}
    <li class='collection-item'>{{ provincia.codigo }} - {{ provincia.get_nombre }}</li>
    {% empty %}
      <h4>No se encontraron provincias cargadas.</h4>
      <form action="{% url 'add-all-provincias' %}" method="post">
        {% csrf_token %}
        <input class="btn" type="submit" name="" id="" value="Agregar todas las provincias" />
      </form>
    {% endfor %} 
  </ul>
</div>
{% endblock %}
