{# extends "../../trabajo/templates/base.html" #}
{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>Generar nueva impresión : {{productor}}</h2>
  <form class="form-horizontal" action="/productores/trabajo/new/" method="post">
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>Alerta!</strong> Debe completar los datos faltante.
    </div>
    {% endif %}
    <div class="panel-group">
      <div class="panel panel-info">
        <div class="panel-heading">Operaciones</div>
        <div class="panel-body">

          <label class="control-label col-sm-2" for="productor_id">ID Productor</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="productor_id" id="productor_id" placeholder="Id productor" value={{productor.id}}>
          </div>

          <label class="control-label col-sm-2" for="fecha">Fecha generación</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="fecha_op" id="fecha" placeholder="Fecha impresión (dd/mm/aaaa)" value={{fecha}}>
          </div>

          <label class="control-label col-sm-2" for="fechah">Fecha hasta</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="fecha_hasta_op" id="fechah" placeholder="Fecha hasta (dd/mm/aaaa)">
          </div>


          {% if not productor.libros_digitales %}
          <label class="control-label col-sm-2" for="libro">Libros</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="libro_op" id="libro_op" placeholder="Libro Operaciones" value={{libro}}>
          </div>

          <label class="control-label col-sm-2" for="hoja">Hoja</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="hoja_op" id="hoja" placeholder="Hoja Operaciones">
          </div>

          <label class="control-label col-sm-2" for="orden">Orden</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="orden_op" id="orden_op" placeholder="Orden Operaciones">
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">Cobranzas</div>
      <div class="panel-body">
        <label class="control-label col-sm-2" for="fecha">Fecha generación</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" name="fecha_co" id="fechac" placeholder="Fecha impresión (dd/mm/aaaa)" value={{fecha}}>
        </div>

        <label class="control-label col-sm-2" for="fechah">Fecha hasta</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" name="fecha_hasta_co" id="fechahc" placeholder="Fecha hasta (dd/mm/aaaa)">
        </div>

        {% if not productor.libros_digitales %}
        <label class="control-label col-sm-2" for="libro">Libros</label>
        <div class="col-sm-10">
          <input type="number" class="form-control"  name="libro_co" id="libroc" placeholder="Libro Cobranzas">
        </div>

        <label class="control-label col-sm-2" for="hoja">Hoja</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="hoja_co" id="hojac" placeholder="Hoja Cobranzas">
        </div>
        {% endif %}

      </div>
    </div>

    <div class="panel-footer">
      <button type="Submit" class="btn btn-success">Guardar</button>
      <!--
      <a href="/admin/productores/productor/{{productor.id}}/change/" class="btn btn-danger" role="button">Cancelar</a>
      -->
      <a href="{% url 'productor-detail' productor.id %}" class="btn btn-danger" role="button">Cancelar</a>
    </div>
</div>
</div>
  </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {% endblock%}
